pyspeex-noise==1.0.2
ciso8601==2.3.3
bcrypt==5.0.0
pymicro-vad==1.0.1
cffi==2.0.0
psutil==7.2.2
lru-dict==1.4.1
pycares==5.0.1
grpcio==1.78.0
orjson==3.12.0
cryptography==48.0.1
pynacl==1.6.2
pillow==12.2.0
ephem==4.1.6
guppy3==3.1.7
pyads==3.4.0
dtlssocket==0.1.19
regex==2024.11.6
msgpack==1.1.2
bitarray==3.8.1
isal==1.8.0
ujson==5.12.1
gpiod==2.4.2
bitstruct==8.22.1
pyitachip2ir==0.0.8
pycrc16==0.1.2
pycryptodomex==3.23.0
miniaudio==1.71
pandas==2.3.3
